html {
  --bg-color: #dde0e5;
  --nav-color: #dbd3de;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #090011;
    --nav-color: #17002b;
  }
}

html, body {
  background-color: var(--bg-color);
}

nav {
  background-color: var(--nav-color);
  height: auto;
}

#logo {
  height: 60%;
  max-height: 7em;
}

#ryo {
  height: 50%;
  max-height: 4em;
  border-radius: 20px;
}

ul {
  margin: 0;
  padding: 10px;
  text-align: end;
  flex: 1;
  font-size: 40px;
  list-style: none;
}

#mobile-nav {
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
}

#desktop-nav {
  align-items: center;
}

@media (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  .ryosuke{
    display: none;
  }

}

@media (min-width: 850px) {
  #desktop-nav {
    display: flex;
  }
  #mobile-nav {
    display: none;
  }

}
.header {
  border-radius:10px;
  background-color: var(--nav-color);
  height: auto;
}

.header a {
  float: left;
  margin-block: 1.09vh;
  margin-right: 1.04vw;
  color: black;
  text-align: center;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  border-radius: 20px;
  font-family: "Candara", system-ui, sans-serif;
  margin: 0.3em;
  padding: 1px auto;
  color: white;
  transition: ease-in-out 150ms;
}

#main {
transition: margin-left .5s;
padding: 20px;
}


li a:hover{
  background-color: #594a7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
li a:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.welcome {
  font-size: 3em;
  font-family: 'Candara', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-align: center; 
  margin: 1em;
  padding: 10px; 
}

@media (max-width: 1000px) {
  .welcome {
    font-size: 2.3em; /* Adjust the font size for smaller screens */
  }
  
  .header a{
    padding: 5px 30px 5px 30px;
  }
}


.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 10vh;
}


#sneaker{
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
  width: 400px;
  transition: ease-in-out 450ms;
}

@media (max-width: 1000px) {
  #sneaker {
    width: 500%;
    height: 90%;
    max-width: 600px;
  }
}

#buy {
  display: flex;
  justify-content: center;
  padding: 18px 50px;
  width: 1vw;
  margin:0.3em;
  border-radius:20px;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#000000;
  background-color:#b4b4b4;
  transition: all 0.2s;
  margin: 6px auto;
}

@media (max-width: 1000px) {
  #buy{
    margin: 8px 42%;
    padding: 18px 70px;
    font-size: 20px;
  }
}

.design_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
  background-color: #000000;
  border: 1px;
  border-radius: 20px;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  padding: 30px 200px;
  text-decoration: none;
  transition: all 250ms;
}

.design_button:hover{
  background-color: #7a7a7a;
}
.design_button:active {
  background-color: #c85000;
}



