html{
  background-color: 	#090011;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  padding-bottom: 436vh;
}
h1{
  position: absolute;
  top: 1vh;
  left: 2vw;
  color: white;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}
.logo{
position: absolute;
top: 21px;
left: 50px;
height: 8%;
width: 13%;
}
ul{
  
  top: 2.8vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  position:absolute;
  left: 20.8vw;
  width: fit-content;
}
p{
  font-family: helvetica;
  text-decoration: none;
  text-size-adjust: 1.25em;
}
li a{
  margin-block: 2.09vh;
  margin-right: 5.04vw;
  position: relative;
  color: white;
  padding: 11px 17px;
  text-align: center;
  text-decoration: none;
  min-width: 200px;
  display: inline-block;
  font-family: helvetica;
  background-color:	#19002f;
  border-radius:20px;
  box-sizing: border-box;
  font-weight: bold;  
}
.ryosuke{
  position: absolute;
  left: 87vw;
  border-radius:20px;
  box-sizing: border-box;
  height: 6%;
  width: 5%;
  top: 4vh;
}
li a:hover{
  background-color: #594a7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
li a:focus {
  background-color: #594a7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
li a:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.welcome { 
  position: absolute;
  left: 35vw;
  top: 200px;
  font-size: 3.5em; 
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Candara',sans-serif;
  color:#ffffff;
  font-weight: bold;
}
.to{
position: absolute;
left: 35vw;
top: 37vh;
font-size: 2.5em; 
box-sizing: border-box;
text-decoration:none;
font-family:'Candara',sans-serif;
color:#ffffff;
font-weight: bold;
}
.oneone, .onetwo{
  position: absolute;
  top: 29.3vh;
  left: 10.7vw;
  border-radius:20px;
  box-sizing: border-box;
}

.twoone, .twotwo{
  position: absolute;
  top: 29.3vh;
  left: 35.7vw;
  border-radius:20px;
  box-sizing: border-box;
}

.threeone, .threetwo{
  position: absolute;
  top: 29.3vh;
  left: 60.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.fourone, .fourtwo{
  position: absolute;
  top: 95.5vh;
  left: 10.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.fiveone, .fivetwo{
  position: absolute;
  top: 95.5vh;
  left: 35.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.sixone, .sixtwo{
  position: absolute;
  top: 95.5vh;
  left: 60.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.sevenone, .seventwo{
  position: absolute;
  top: 161.7vh;
  left: 10.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.eightone, .eighttwo{
  position: absolute;
  top: 161.7vh;
  left: 35.7vw;
  border-radius:20px;
  box-sizing: border-box;
}
.nineone, .ninetwo{
  position: absolute;
  top: 161.7vh;
  left: 60.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.tenone, .tentwo{
  position: absolute;
  top: 227.9vh;
  left: 10.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.elevenone, .eleventwo{
  position: absolute;
  top: 227.9vh;
  left: 35.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.twelveone, .twelvetwo{
  position: absolute;
  top: 227.9vh;
  left: 60.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.thirteenone, .thirteentwo{
  position: absolute;
  top: 294.1vh;
  left: 10.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.fourteenone, .fourteentwo{
  position: absolute;
  top: 294.1vh;
  left: 35.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}
.fifteenone, .fifteentwo{
  position: absolute;
  top: 294.1vh;
  left: 60.7vw;
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  
}

.button-5 {
  align-items: center;
  left: 600px;
  top: 500px;
  background-clip: padding-box;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 3rem;
  padding: 50px 220px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;

}

.button-5:hover,
.button-5:focus {
  background-color: #7a7a7a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8,
.button9, .button10, .button11, .button12, .button13, .button14, .button15{
  position: absolute;
  padding: 14px 50px;
  text-align: center;
  margin:0.3em;
  border-radius:20px;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#000000;
  background-color:#b4b4b4;
  transition: all 0.2s;
}

.button1{
      top: 74.5vh;
      left: 17.7vw;
  }
.button14{
      top: 74.5vh;
      left: 42.9vw;
}
.button2{
      top: 74.5vh;
      left: 67.9vw;
  }
.button3{
      top: 140.1vh;
      left: 17.7vw;
  }
.button4{
      top: 140.1vh;
      left: 42.9vw;
  }
.button5{
      top: 140.1vh;
      left: 67.9vw;
  }
.button6{
      top: 206.5vh;
      left: 18.1vw;
  }
.button7{
      top: 206.5vh;
      left: 67.9vw;
  }
.button15{
      top: 206.5vh;
      left: 42.9vw;
}
.button8{
      top: 272.8vh;
      left: 18.1vw;
  }
.button9{
      top: 272.8vh;
      left: 42.9vw;
  }
.button10{
      top: 272.8vh;
      left: 67.9vw;
  }
.button11{
      top: 339vh;
      left: 18.1vw;
  }
.button12{
      top: 339vh;
      left: 42.9vw;
}
.button13{
      top: 339vh;
      left: 67.9vw;
}


  @media all and (max-width:30em)
  {}
      a.button1, a.button2, a.button3, a.button4, a.button5, a.button6, a.button7, a.button8, a.button9, a.button10, a.button11, a.button12, a.button13, .button14, .button15 {
      display:block;
      margin:0.2em auto;
      }
      .button1:hover, .button2:hover, .button:hover, .button3:hover, .button4:hover, .button5:hover, .button6:hover, .button7:hover, .button8:hover, .button9:hover, .button10:hover, .button11:hover, .button12:hover, .button13:hover, .button14:hover, .button15:hover,
.button1:focus, .button2:focus, .button:focus , .button3:focus, .button4:focus, .button5:focus, .button6:focus, .button7:focus, .button8:focus, .button9:focus, .button10:focus, .button11:focus, .button12:focus, .button13:focus, .button14:focus, .button15:focus{
  background-color: #7a51d0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.button1:active,  .button2:active, .button:active, .button3:active,  .button4:active,  .button5:active,  .button6:active,  .button7:active,  .button8:active ,  .button9:active ,  .button10:active ,  .button11:active, .button12:active, .button13:active, .button14:active, .button15:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.bunny{
  position: absolute;
  top: 73.1vh;
  left: 21.875vw;
  border-radius:20px;
  box-sizing: border-box;
}
.bunny1{
  position: absolute;
  top: 73.1vh;
  left: 62.5vw;
  border-radius:20px;
  box-sizing: border-box;
}
.button7:hover{
  background-color: #7a51d0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  left: 600px;
  top: 230px;
  width: 33.3%;
  position:absolute;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  margin: 10px;
  text-align: center;
  
  

}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
  color: rgb(241, 241, 241);
  
}

.container {
  padding: 0 16px;
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  
}

.title {
bottom: 4111111px;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#cc6918;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.button {
  padding: 8px;
  color: #000000;
  background-color: #b4b4b4;
  text-align: center;
  width: 50%;
  border-radius:20px;
  font-weight: bold;
}

.button:hover {
  color:#000000;
  transition: all 0.2s;
  
}
.me{
  border-radius:20px;
  box-sizing: border-box;
  background-clip: padding-box;
  position:relative;
  top: -10px;
  left: -10px;
}
.fsd, .hha {
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#ffdddd;
  font-weight: bold;
  transition: all 0.2s;

}
.name {
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#ffdddd;
  font-weight: bold;
  transition: all 0.2s;

}
.parentbox1 .oneone, .parentbox2 .twoone, .parentbox3 .threeone, .parentbox4 .fourone, .parentbox5 .fiveone, .parentbox6 .sixone, .parentbox7 .sevenone, .parentbox8 .eightone,
.parentbox9 .nineone, .parentbox10 .tenone, .parentbox11 .elevenone, .parentbox12 .twelveone, .parentbox13 .thirteenone, .parentbox14 .fourteenone, .parentbox15 .fifteenone{
  opacity: 1
} 
.parentbox1 .onetwo, .parentbox2 .twotwo, .parentbox3 .threetwo, .parentbox4 .fourtwo, .parentbox5 .fivetwo, .parentbox6 .sixtwo, .parentbox7 .seventwo, .parentbox8 .eighttwo,
.parentbox9 .ninetwo, .parentbox10 .tentwo, .parentbox11 .eleventwo, .parentbox12 .twelvetwo, .parentbox13 .thirteentwo, .parentbox14 .fourteentwo, .parentbox15 .fifteentwo{
  opacity: 0
} 
.parentbox1 .oneone:hover, .parentbox2 .twoone:hover, .parentbox3 .threeone:hover, .parentbox4 .fourone:hover, .parentbox5 .fiveone:hover, .parentbox6 .sixone:hover, .parentbox7 .sevenone:hover, .parentbox8 .eightone:hover,
.parentbox9 .nineone:hover, .parentbox10 .tenone:hover, .parentbox11 .elevenone:hover, .parentbox12 .twelveone:hover, .parentbox13 .thirteenone:hover, .parentbox14 .fourteenone:hover, .parentbox15 .fifteenone:hover{
  transition: 0.6s ease;
  opacity: 0
} 
.parentbox1 .onetwo:hover, .parentbox2 .twotwo:hover, .parentbox3 .threetwo:hover, .parentbox4 .fourtwo:hover, .parentbox5 .fivetwo:hover, .parentbox6 .sixtwo:hover, .parentbox7 .seventwo:hover, .parentbox8 .eighttwo:hover,
.parentbox9 .ninetwo:hover, .parentbox10 .tentwo:hover, .parentbox11 .eleventwo:hover, .parentbox12 .twelvetwo:hover, .parentbox13 .thirteentwo:hover, .parentbox14 .fourteentwo:hover, .parentbox15 .fifteentwo:hover{
  transition: 0.6s ease;
  opacity:1
}

@media (max-width:641px){
  body{
      font-size: 12px;
  }

  .main-content h2{
      font-size: 0.8em;
  }

  .main-content h3{
      font-size: 1.4em;
  }
}

@media (max-width:300px){
  body{
      font-size: 10px;
   
  }
}