html {
  --bg-color: #dde0e5;
  --nav-color: #dbd3de;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #03000f;
    --nav-color: #0b0033;
    --footer-color: #03000f;
    --text-color: #f4f5f6;
  }
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100vh;
  font-family: "copperplate gothic", sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 3.5em;
  margin: 0.3em;
  color: var(--text-color);
  margin-left: 25px;
}

.ap {
  max-height: 3em;
  border-radius: 10px;
  margin-right: 20px;
  float: inline-start;
}

ul {
  margin: 0;
  padding: 10px;
  text-align: end;
  flex: 1;
  font-size: 30px;
  list-style: none;
}

.mobile-nav {
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
}

.desktop-nav {
  align-items: center;
}

@media (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}

@media (min-width: 850px) {
  .desktop-nav {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
header {
  background-color: var(--nav-color);
}

header ul a,
li a {
  float: right;
  margin-right: 2em;
  padding: 10px;
  border-radius: 15px;
  color: var(--text-color);
  transition: ease-in-out 150ms;
  font-size: 0.7em;
}

li a:hover {
  background-color: #594a7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
li a:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

.hero_box {
  position: relative;
  text-align: center;
}
.hero_text {
  font-size: 2em;
  color: #000000; /*text color doesn't fit here so I went with black*/
  text-align: center;
  margin-top: 5em;
  line-height: 1.9em;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero_bg {
  margin-top: 30px;
  height: 60vh;
  width: 99vw;
  border-radius: 15px;
}

.hero_button {
  border-radius: 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 2.5em;
  padding: 20px 50px;
  transition: ease-in-out 300ms;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_button:hover {
  background-color: #3d3d3d;
}
.hero_button:active {
  background-color: #c85000;
}

footer {
  margin-top: 10vh;
  background-color: var(--footer-color);
  color: var(--text-color);
  text-align: center;
  position: absolute;
  width: 100%;

  text-decoration: none;
}
footer h6 {
  float: inline-start;
  margin-left: 2vw;
}
footer i {
  margin: 0.1em;
}
footer a {
  color: inherit;
}
.fa_icons {
  padding: 15px;
}
.keyboards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 10vh;
}

.keyboards img {
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 600px;
  transition: ease-in-out 450ms;
}

@media (max-width: 1000px) {
  .keyboards img {
    width: 500%;
    height: 90%;
    max-width: 600px;
  }
  .hero_text {
    font-size: 2.3em;
  }
  .header a {
    padding: 5px 30px 5px 30px;
  }
}

.card {
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--text-color);
  text-align: center;
}

.card-content p {
  line-height: 2em;
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--text-color);
  text-align: center;
}
.card-content .card-info {
  color: #4613be;
}
.card-button {
  border-radius: 15px;
  background-color: var(--text-color);
  color: #000000;
  font-size: 1.5em;
  padding: 10px 15px;
  transition: ease-in-out 300ms;
  position: relative;
  margin-top: 50px;
  left: 30%;
  transform: translate(-50%, -50%);
}
.card-button:hover {
  background-color: #594a7d;
  transition: ease-in-out 200ms;
}
