html {
  --bg-color: #dde0e5;
  --nav-color: #dbd3de;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #03000f;
    --nav-color: #0b0033;
  }
}

html,
body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.logo {
  font-size: 3.5em;
  font-family: "copperplate gothic";
  margin: 0.3em;
  color: #f4f5f6;
}

.ap {
  height: 100%;
  max-height: 3em;
  border-radius: 15px;
}

ul {
  margin: 0;
  padding: 10px;
  text-align: end;
  flex: 1;
  font-size: 30px;
  list-style: none;
}

.mobile-nav {
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
}

.desktop-nav {
  align-items: center;
}

@media (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .toreno {
    display: none;
  }
}

@media (min-width: 850px) {
  .desktop-nav {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
header {
  background-color: var(--nav-color);
}

header ul a,
li a {
  float: right;
  margin-right: 2em;
  padding: 10px;
  border-radius: 15px;
  font-family: "copperplate gothic";
  color: white;
  transition: ease-in-out 150ms;
  font-size: 0.7em;
}

li a:hover {
  background-color: #594a7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
li a:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.hero_text {
  font-size: 2em;
  font-family: "copperplate gothic";
  color: #ffffff;
  text-align: center;
  margin-top: 5em;
  padding: 10px;
}

.hero_button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border: 1px;
  border-radius: 20px;
  color: #fff;
  font-family: "copperplate gothic", sans-serif;
  font-size: 40px;
  padding: 20px 50px;
  transition: ease-in-out 300ms;
}

.hero_button:hover {
  background-color: #7a7a7a;
}
.hero_button:active {
  background-color: #c85000;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 10vh;
}

#sneaker {
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 400px;
  transition: ease-in-out 450ms;
}

#buy {
  display: flex;
  justify-content: center;
  padding: 18px 50px;
  width: 1vw;
  margin: 0.3em;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #b4b4b4;
  transition: all 0.2s;
  margin: 6px auto;
}

@media (max-width: 1000px) {
  #sneaker {
    width: 500%;
    height: 90%;
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  #buy {
    margin: 8px 42%;
    padding: 18px 70px;
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .welcome {
    font-size: 2.3em;
  }

  .header a {
    padding: 5px 30px 5px 30px;
  }
}
